# Dependency directories
node_modules
npm-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build artifacts
dist

# Local configuration files
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db
